@charset "UTF-8";

/* 
    em HTML é ID = em CSS é # (só pode um elemento)
    Em HTML é CLASS = em CSS é . (pode vários elementos)
*/

body{
    background-color: #8AA6A3;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #10403B;
}

#principal{
    text-align: center;
}

h2{
    color: #4C5958;
}

.basico{
    color: green;
}

.intermediario{
    color: yellow;
}

.avancado{
    color: red;
}